@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Frijole&family=Kite+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html {
  color-scheme: light dark;
  max-height: 100%;
}

nav {
  position: sticky;
  top: 0;
  background-color: black;
  font-weight: 500;
  z-index: 2;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

nav > ul > li {
  list-style: none;
  padding: 0.5% 1%;
  cursor: pointer;
}
nav > ul > li:hover {
  color: #33ab5d;
}

.profilePic {
  border-radius: 50%;
  width: 50px;
}

.profilePic:hover {
  transform: scale(1.04);
}

body {
  background-color: black;
  line-height: 1.6;
  justify-content: center;
  overflow-x: hidden;
  font-size: 1.125rem;
  font-family: "Chau Philomene One", sans-serif;
}
main {
  width: min(150ch, 100% - 4rem);
  margin-inline: auto;
}
.wave {
  border-radius: 5px;
  opacity: 60%;
  position: absolute;
  z-index: -1;
  top: 0;
  animation: 1s ease-out 0s 1 slideInFromTop;
}
.hero-sec {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-sec > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1% 0;
  gap: 5%;
}
.firstRow_imgContainer {
  width: 18vw;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.secondRow_imgContainer {
  width: 40vw;
  animation: 1s ease-out 0s 1 slideInFromRight;
}
.third_imgContainer {
  width: 32vw;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.hero-first_row {
  font-size: min(5rem, 10vw);
}
.hero-sec > div > span {
  animation: 1s ease-out 0s 1 slideInFromTop;
  white-space: nowrap;
}

.hero-second_row {
  font-size: min(5rem, 10vw);
}

.hero-third_row {
  font-size: min(7rem, 12vw);
}

.hero-img {
  object-fit: cover;
  border-radius: 50px;
  height: min(120px, 10vw);
  width: 100%;
  box-shadow: 0px 0px 5px #fff;
}

.hero-img2 {
  width: 100%;
  border-radius: 50px 0 50px 50px;
  height: min(250px, 15vw);
  object-fit: cover;
  box-shadow: 0px 0px 5px #fff;
}

.hero-img3 {
  width: 100%;
  height: min(250px, 15vw);
  border-radius: 0px 50px 50px 0px;
  box-shadow: 0px 0px 5px #fff;
  object-fit: cover;
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,200 0,200 C 85.30143540669857,198.755980861244 170.60287081339715,197.51196172248802 257,186 C 343.39712918660285,174.48803827751198 430.88995215311,152.7081339712919 530,170 C 629.11004784689,187.2918660287081 739.8373205741628,243.6555023923445 845,247 C 950.1626794258372,250.3444976076555 1049.760765550239,200.66985645933013 1148,184 C 1246.239234449761,167.33014354066987 1343.1196172248806,183.66507177033492 1440,200 C 1440,200 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,200 0,200 C 120.24880382775123,225.7799043062201 240.49760765550246,251.5598086124402 322,238 C 403.50239234449754,224.4401913875598 446.25837320574146,171.5406698564593 529,161 C 611.7416267942585,150.4593301435407 734.4688995215313,182.27751196172252 854,195 C 973.5311004784687,207.72248803827748 1089.8660287081339,201.3492822966507 1187,199 C 1284.1339712918661,196.6507177033493 1362.066985645933,198.32535885167465 1440,200 C 1440,200 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,200 0,200 C 119.70334928229664,176.19138755980862 239.40669856459328,152.3827751196172 318,132 C 396.5933014354067,111.61722488038279 434.07655502392345,94.66028708133976 538,130 C 641.9234449760766,165.33971291866024 812.2870813397129,252.9760765550239 911,249 C 1009.7129186602871,245.0239234449761 1036.7751196172248,149.43540669856458 1113,126 C 1189.2248803827752,102.56459330143541 1314.6124401913876,151.2822966507177 1440,200 C 1440,200 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,200 0,200 C 109.83732057416267,197.7511961722488 219.67464114832535,195.50239234449762 302,191 C 384.32535885167465,186.49760765550238 439.1387559808612,179.74162679425834 541,177 C 642.8612440191388,174.25837320574166 791.7703349282297,175.53110047846891 897,185 C 1002.2296650717703,194.46889952153109 1063.77990430622,212.13397129186603 1147,216 C 1230.22009569378,219.86602870813397 1335.11004784689,209.93301435406698 1440,200 C 1440,200 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,200 0,200 C 85.30143540669857,198.755980861244 170.60287081339715,197.51196172248802 257,186 C 343.39712918660285,174.48803827751198 430.88995215311,152.7081339712919 530,170 C 629.11004784689,187.2918660287081 739.8373205741628,243.6555023923445 845,247 C 950.1626794258372,250.3444976076555 1049.760765550239,200.66985645933013 1148,184 C 1246.239234449761,167.33014354066987 1343.1196172248806,183.66507177033492 1440,200 C 1440,200 1440,600 1440,600 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,400 0,400 C 75.67464114832532,436.47846889952154 151.34928229665064,472.95693779904303 241,445 C 330.65071770334936,417.04306220095697 434.27751196172255,324.6507177033493 541,334 C 647.7224880382774,343.3492822966507 757.5406698564592,454.4401913875597 865,474 C 972.4593301435408,493.5598086124403 1077.55980861244,421.5885167464115 1173,394 C 1268.44019138756,366.4114832535885 1354.22009569378,383.20574162679424 1440,400 C 1440,400 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,400 0,400 C 98.68899521531102,419.86602870813397 197.37799043062205,439.732057416268 298,448 C 398.62200956937795,456.267942583732 501.17703349282294,452.9377990430622 606,435 C 710.8229665071771,417.0622009569378 817.913875598086,384.51674641148327 901,388 C 984.086124401914,391.48325358851673 1043.1674641148327,430.9952153110048 1129,439 C 1214.8325358851673,447.0047846889952 1327.4162679425835,423.5023923444976 1440,400 C 1440,400 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,400 0,400 C 95.52153110047843,389.67464114832535 191.04306220095685,379.34928229665076 286,388 C 380.95693779904315,396.65071770334924 475.3492822966508,424.2775119617225 571,446 C 666.6507177033492,467.7224880382775 763.5598086124401,483.54066985645926 858,473 C 952.4401913875599,462.45933014354074 1044.4114832535886,425.55980861244024 1141,409 C 1237.5885167464114,392.44019138755976 1338.7942583732056,396.22009569377985 1440,400 C 1440,400 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,400 0,400 C 82.44019138755979,390.44976076555025 164.88038277511959,380.8995215311005 260,382 C 355.1196172248804,383.1004784688995 462.91866028708125,394.8516746411483 571,394 C 679.0813397129187,393.1483253588517 787.444976076555,379.6937799043062 884,368 C 980.555023923445,356.3062200956938 1065.3014354066986,346.3732057416268 1156,352 C 1246.6985645933014,357.6267942583732 1343.3492822966507,378.81339712918657 1440,400 C 1440,400 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,400 0,400 C 75.67464114832532,436.47846889952154 151.34928229665064,472.95693779904303 241,445 C 330.65071770334936,417.04306220095697 434.27751196172255,324.6507177033493 541,334 C 647.7224880382774,343.3492822966507 757.5406698564592,454.4401913875597 865,474 C 972.4593301435408,493.5598086124403 1077.55980861244,421.5885167464115 1173,394 C 1268.44019138756,366.4114832535885 1354.22009569378,383.20574162679424 1440,400 C 1440,400 1440,600 1440,600 Z"
    );
  }
}
.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 116.75598086124404,422.62200956937795 233.51196172248808,395.24401913875596 328,415 C 422.4880382775119,434.75598086124404 494.7081339712918,501.64593301435406 574,503 C 653.2918660287082,504.35406698564594 739.6555023923445,440.1722488038277 826,435 C 912.3444976076555,429.8277511961723 998.6698564593303,483.6650717703349 1101,496 C 1203.3301435406697,508.3349282296651 1321.6650717703349,479.16746411483257 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 85.40669856459331,464.22966507177034 170.81339712918663,478.4593301435407 273,474 C 375.1866028708134,469.5406698564593 494.1531100478469,446.39234449760767 601,441 C 707.8468899521531,435.60765550239233 802.574162679426,447.9712918660287 886,446 C 969.425837320574,444.0287081339713 1041.5502392344497,427.7224880382775 1132,426 C 1222.4497607655503,424.2775119617225 1331.2248803827752,437.1387559808612 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 115.56937799043064,425.933014354067 231.13875598086128,401.86602870813397 317,414 C 402.8612440191387,426.13397129186603 459.01435406698556,474.46889952153106 538,486 C 616.9856459330144,497.53110047846894 718.8038277511963,472.25837320574163 826,466 C 933.1961722488037,459.74162679425837 1045.7703349282297,472.4976076555024 1149,473 C 1252.2296650717703,473.5023923444976 1346.1148325358852,461.7511961722488 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 84.87081339712918,427.933014354067 169.74162679425837,405.86602870813397 284,421 C 398.25837320574163,436.13397129186603 541.9043062200958,488.46889952153106 624,497 C 706.0956937799042,505.53110047846894 726.6411483253588,470.2583732057417 817,460 C 907.3588516746412,449.7416267942583 1067.5311004784687,464.49760765550235 1183,467 C 1298.4688995215313,469.50239234449765 1369.2344497607655,459.7511961722488 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,450 0,450 C 116.75598086124404,422.62200956937795 233.51196172248808,395.24401913875596 328,415 C 422.4880382775119,434.75598086124404 494.7081339712918,501.64593301435406 574,503 C 653.2918660287082,504.35406698564594 739.6555023923445,440.1722488038277 826,435 C 912.3444976076555,429.8277511961723 998.6698564593303,483.6650717703349 1101,496 C 1203.3301435406697,508.3349282296651 1321.6650717703349,479.16746411483257 1440,450 C 1440,450 1440,600 1440,600 Z"
    );
  }
}

.hidden {
  opacity: 0;
  transition: all 2s;
}
.show {
  opacity: 1;
}

.carousel {
  z-index: 1;
  height: 50vh;
  width: 88%;
  margin: 0 auto;
  border-radius: 1vw;
  overflow: hidden;
  animation: 1s ease-out 0s 1 slideInFromBottom;
  margin-bottom: 4%;
}

.carousel-caption {
  font-size: min(1.5rem, 3.5vw);
}

.carousel-img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
  filter: blur(8px);
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #fff;
}

.carousel-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 20%;
}

.projects h2 {
  margin-bottom: 5%;
  font-size: min(3rem, 10vw);
}

.grid-projects {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5%;
  justify-content: center;
  width: 100%;
  margin-bottom: 5%;
}

.card-title {
  font-size: min(1.8rem, 4.5vw);
}
.card-text {
  font-size: min(1.2rem, 3.5vw);
}
.cardButton {
  font-size: min(1.2rem, 3.5vw);
}
footer {
  position: relative;
  margin-top: 5%;
}
.footerWave {
  position: absolute;
  bottom: -10%;
  opacity: 60%;
  width: 100%;
  z-index: -1;
}
.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  gap: 15px;
  margin: 10px 0 20px 0;
}
.footerContainer > div:nth-child(2) {
  width: 50%;
}

.icon_buttons {
  position: relative;
  display: inline-block;
  border: none;
}
.icon {
  font-size: min(1.6rem, 4vw);
  margin: 5px;
}

.icon_buttons .tooltipText {
  visibility: hidden;

  background-color: black;
  text-align: center;
  padding: 5px 10px;
  z-index: 1;
  border-radius: 8px;
  border: 1px solid #33ab5d;

  position: absolute;
  top: -2px;
  left: 120%;
}
.icon_buttons:hover .tooltipText {
  visibility: visible;
}

.icon_buttons:hover {
  transform: scale(1.3);
}

.top-form {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.top-form > div {
  width: 100%;
}

.top-form input {
  width: 100%;
}

.bottom-form {
  margin-top: 5%;
  width: 100%;
}
.bottom-form textarea {
  width: 100%;
  height: 25vh;
}
.buttonContainer {
  text-align: end;
}
label {
  font-size: min(1.2rem, 3.5vw);
}
.submitForm {
  background-color: #33ab5d;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 2%;
}
.sub-title-form {
  font-size: min(1.5rem, 4vw);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1100px) {
  .carousel {
    width: 100%;
  }
  .grid-projects {
    grid-template-columns: auto;
    gap: 1%;
  }
}

@media only screen and (max-width: 600px) {
  .Card {
    width: 80vw !important;
  }
  .buttonContainer {
    text-align: center;
    font-size: min(1.2rem, 3.5vw);
  }
  .submitForm {
    padding: 5px 15px;
    margin-bottom: 5%;
  }
  .wave {
    top: 8%;
  }
  .footerContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  .footerContainer > div:nth-child(1) {
    flex-direction: row;
    width: 100%;
  }
  .footerContainer > div:nth-child(2) {
    margin: 0 auto;
    width: 80%;
  }
  .carousel {
    height: 30vh;
  }
  .carousel-caption {
    margin-bottom: 42%;
  }
  .icon_buttons .tooltipText {
    top: -120%;
    left: -25%;
  }
  .bottom-form textarea {
    max-height: 15vh;
  }

  .icon {
    margin: 2px;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.bounce {
  -webkit-animation: bounce 3s infinite ease-in-out;
  -o-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out;
  -moz-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out;
}
